/*UI contenedor principal. Banner top*/
#gameArea{
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    aspect-ratio: 2/1;
    min-height: 500px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#gameDataSection{
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    height: 15%;
    min-height: 100px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 10px #fff;
}
.gameDataContainer{
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    height: 100%;
    min-height: 100px;
    max-height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
}
.points{
    color: #fff;
    font-weight: lighter;
}
.pointsStyle{
    color: #fff;
    font-weight: lighter;
}
#oponente{/*selectora de juego*/
    width: auto;
    display: flex;
    min-width: fit-content;
    border: none;
    aspect-ratio: 3/1;
    border-radius: 12.5px;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}
option{

}

