/*Turno---parpadeo del avatar*/
@keyframes parpadeo {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: green;
    }
    100% {
        border-color: transparent;
    }
}
.avatar.turno {
    animation: parpadeo 1s infinite;
    border: 5px solid transparent;
}
.playerContainer{
    width: 50%;
    min-width: fit-content;
    height: 100%;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.avatar{
    width: 20%;
    min-width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#avatarPlayer0{
    background-image: url("../Images/Pics/cpu.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#avatarPlayer1{
    background-image: url("../Images/Pics/touch.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: #fff;
}
.player{
    font-size: 1rem;
    text-transform: capitalize;
    text-align: center;
    margin: auto;
    color: #fff;
    cursor: pointer;
}
.player:hover{
    background-color: #fff;
    color: black;
}
/*Solucion a la superposicion en pantallas pequeñas*/
@media only screen and (max-width: 600px) {
    .playerContainer{
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: fit-content;
    }
    .avatar{
        max-width: 20px;
        aspect-ratio: 1/1;
    }
}