html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#gameArea{
    width: 100lvw;
    min-width: 300px;
    max-width: 1000px;
    height: auto;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
body{
    background-image: url(../Images/Table/mesa_madera.jpg);
    background-size: cover;
    background-repeat: round;
}
#table{
    width: 90%;
    min-width: 270px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#mazo, #userDrawButton{
    position: absolute; 
    width: 20lvw;
    min-width: 100px;
    max-width: 200px;
    aspect-ratio: 1/1.5;
    display: flex;
    left: 20%;
    top: 40%;
    rotate: -25deg;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    margin: auto;
    border-radius: 12.5px;
    justify-content: center;
    align-items: center;
}
#userDrawButton{
    background-image: url(../Mazo/Dorsos/españolas.png);
    background-size: 100%;
    background-repeat: round;
    background-position: center;
}
#waste{
    position: absolute;
    background-color: none;
    width: 20lvw;
    min-width: 100px;
    max-width: 200px;
    aspect-ratio: 1/1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20%;
    top: 40%;
    z-index: 1;
    margin: auto;
}
.card{
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    aspect-ratio: 1/1.5;
    display: flex;
    cursor: pointer;
    margin: auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 12.5px;
    background-size: contain;
    box-shadow: 0px 0px 1px black;
    border: solid 0.1rem black;
    
}
/*Reboot button grande al finalizar juego*/
#rebootOverlay{
    display: none;
    position: absolute;
    background-color: rgba(218, 165, 32, 0.6);
    width: 20lvw;
    min-width: 100px;
    max-width: 200px;
    aspect-ratio: 1/1;
    border: solid 0.1rem #fff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    z-index: 3;
    margin: auto;
    box-shadow: 0px 0px 10px grey;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
#rebootOverlay:hover{
    background-color: rgba(218, 165, 32, 0.8);
    animation: rotateAnimation 2s linear infinite;

}
#rebootOverlay:active{
    opacity: 100%;
    cursor: progress;
}
@keyframes rotateAnimation {
    from {
        transform: rotate(0deg); /* Inicia la rotación desde 0 grados */
    }
    to {
        transform: rotate(-360deg); /* Finaliza la rotación en 360 grados (una vuelta completa) */
    }
}
/*Correcciones visuales temporales*/
@media (min-width: 700px) {
    #mazo, #userDrawButton{
        left: 22%;
        top: 60%;
        
    }
    #waste{
        right: 30%;
    }
    #menuToggle{
        left: 20%;
    }
}
@media (max-width: 400px) {
    #waste{
        right: 10%;
        top: 30%;
    }
}