#body{
    width: 100dvw;
    min-width: 300px;
    max-width: 3000px;
    height: 100dvh;
    max-height: 1080px;
    background-image: url(../Images/Table/mesa_madera_alternativa.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
    overflow: auto;
}
#table{
    width: 80%;
    min-width: 300px;
    max-width: 1000px;
    aspect-ratio: 3/1;
    min-height: 400px;
    max-height: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    align-items: center;
    
}
.ubicarMazos{
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    aspect-ratio: 3/1;
    min-height: 350px;
    max-height: 600px;
    display: flex;
    margin: auto;
    align-items: center;
}
#userDrawButton{
    background-image: url(../Mazo/Dorsos/españolas.png);
    background-position: center;
    background-size: contain;
    background-repeat: round;
    background-position: center;
    height: 40%;
    min-height: 150px;
    max-height: 200px;
    aspect-ratio: 1/1.5;
    display: flex;
    cursor: pointer;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 33%;
    border: solid 0.1rem black;
    border-radius: 12.5px;
    margin: auto;
    rotate: -20deg;
}
#userDrawButton:active{
    opacity: 90%;
    transition: opacity 0.3s ease;
}
#waste{
    height: 40%;
    min-height: 150px;
    max-height: 200px;
    aspect-ratio: 1/1.5;
    display: flex;
    cursor: pointer;
    background-color: none;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.card{
    height: 40%;
    min-height: 150px;
    max-height: 200px;
    aspect-ratio: 1/1.5;
    display: flex;
    position: absolute;
    cursor: pointer;
    border: solid 0.1rem black;
    border-radius: 12.5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    right: 33%;
    
}
#reload{
    height: 30%;
    min-height: 100px;
    max-height: 200px;
    aspect-ratio: 1/0.5;
    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    z-index: 99;
    border: double 0.2rem white;
}
.reload_alert{
    color: #fff;
    text-align: center;
}
#rebootBtn{
    height: 50%;
    min-height: 25px;
    max-height: 75px;
    aspect-ratio: 1/1;
    border: solid 0.1rem white;
    border-radius: 50%;
    color: #fff;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
#rebootBtn:hover{
    background-color: rgba(1, 174, 249, 0.5);
    animation: rotateAnimation 2s linear infinite;
}
@media (max-width: 768px) {
    #userDrawButton{
        left: 10%;
    }
    #waste{
        left: 80%;
    }
    .card{
        left: 60%;
    }
}