#body{
    width: 100vw;
    min-width: 300px;
    max-width: 3000px;
    height: 100vh;
    min-height: fit-content;
    max-height: 2190px;
    background-image: url(../Images/Table/mesa_madera.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}
#table{
    width: 80%;
    min-width: 300px;
    max-width: 1000px;
    aspect-ratio: 3/1;
    min-height: 400px;
    max-height: 800px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    align-items: center;
    
}
.ubicarMazos{
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    aspect-ratio: 3/1;
    min-height: 350px;
    max-height: 600px;
    display: flex;
    margin: auto;
    align-items: center;
}
#userDrawButton{
    background-image: url(../Mazo/Dorsos/españolas.png);
    background-position: center;
    background-size: contain;
    background-repeat: round;
    background-position: center;
    width: 20%;
    min-width: 100px;
    max-width: 200px;
    aspect-ratio: 1/1.5;
    display: flex;
    cursor: pointer;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 25%;
    border: solid 0.1rem black;
    border-radius: 12.5px;
    margin: auto;
    rotate: -20deg;
}
#waste{
        width: 20%;
        min-width: 100px;
        max-width: 200px;
        aspect-ratio: 1/1.5;
        display: flex;
        cursor: pointer;
        background-color: none;
        margin: auto;
        justify-content: center;
        align-items: center;
}
.card{
    width: 20%;
    min-width: 100px;
    max-width: 200px;
    aspect-ratio: 1/1.5;
    display: flex;
    position: absolute;
    cursor: pointer;
    border: solid 0.1rem black;
    border-radius: 12.5px;
    background-position: center;
    background-size: contain;
    right: 25%;
    
}
/*Reboot button grande al finalizar juego*/
#rebootOverlay{
    display: none;
    position: absolute;
    background-color: rgba(218, 165, 32, 0.6);
    width: 20lvw;
    min-width: 100px;
    max-width: 200px;
    aspect-ratio: 1/1;
    border: solid 0.1rem #fff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    z-index: 3;
    margin: auto;
    box-shadow: 0px 0px 10px grey;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
#rebootOverlay:hover{
    background-color: rgba(218, 165, 32, 0.8);
    animation: rotateAnimation 2s linear infinite;

}
#rebootOverlay:active{
    opacity: 100%;
    cursor: progress;
}
