/*menu container general*/
.overGameSurface{
    background-color: aqua;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
}
.menuContainer{
    width: 60%;
    min-width: 300px;
    max-width: 400px;
    aspect-ratio: 1/1;
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: none;/*---------------------------->cambiar a none*/
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    z-index: 999;
    border: solid 0.1rem #fff;
    border-radius: 12.5px;
    box-shadow: 0px 0px 10px grey;
    top: 20%;

}
.submenuContainer {
    height: 80%;
    aspect-ratio: 1/1;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-height: auto;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

/*Btones dentro del menu*/
.closeBtn{/*closeBtn + backBtn styles*/
    width: 30%;
    min-width: 75px;
    aspect-ratio: 1/0.3;
    margin: auto;
    cursor: pointer;
    border: none;
    text-align: center;
}
.btnContainer{
    height: 80%;
    aspect-ratio: 1/1;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-height: auto;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}
.menuBtn{
    width: 75%;
    min-width: 150px;
    aspect-ratio: 1/0.3;
    cursor: pointer;
    margin: auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s ease;
}
.menuBtn:hover, .closeBtn:hover{
    background-color: rgba(255, 194, 39, 0.5);
}
