/*Al presionar boton-menu hamburguesa*/
.menuToggleContainer{
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    height: 5%;
    min-height: 20px;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
}
#menuToggle{
    display: flex;
    height: 90%;
    aspect-ratio: 1/1;
    rotate: 90deg;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: solid 0.1rem #fff;
    margin: auto 0;
    color: #fff;
    transition: background-color 0.3s ease;
}
#menuToggle:hover{
    background-color: rgba(255, 194, 39, 0.5);
    cursor: pointer;
}

